{% extends 'base.html' %}

{% block title %}
<title>Messages by user {{ user.id }}</title>
{% endblock %}

{% block body %}
<h1>Messages</h1>
<hr>
<a href="{{ url_for('add_message_to_user', user_id=user.id) }}" class="btn btn-dark">Add message to user</a>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Priority</th>
        <th scope="col">Created at</th> 
      </tr>
    </thead>
    <tbody>
      {% for item in messages %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.title }}</td>
        <td>{{ item.content|safe }}</td>
        <td>{{ item.priority }}</td>
        <td>{{ item.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}